.homeView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5vw;
  margin: 2.5vh 5vw;
}
